html {
    background-color: #222;
}

body {
    margin: 0;
    padding: 0;
  }

.wrapper {
    position: absolute;
    left: 25%;
    width: 50%;
    padding-left: 10px;
    color: white;
  }
  .topnav {
    overflow: hidden;
    position: relative;
    font-family: 'Comfortaa', cursive;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  
  .active {
    color: white;
  }

  p {
    font-family: 'Roboto', sans-serif;
  }