<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('../partials/head') %>
        <link href="/assets/css/global.css" rel="stylesheet">
        <link href="/assets/css/about.css" rel="stylesheet">
        <title>Deveroonie | About</title>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/header') %>
            <br><br><br><br><br><br>
            <div class="grid-container">
                <div class="grid-item">
                    <h3 class="title">Programming</h3><br>
                    <p class="text"><b>Programming Languages:</b> Good with - HTML, CSS, JavaScript (NodeJS/Frontend), Still learning - C#, Java<br><b>NodeJS Modules:</b> Express, DiscordJS, EJS</p>
                </div>
                <div class="grid-item">
                    <h3 class="title">Experiance</h3><br>
                    <p class="text">
                        I have been making websites since <b>August 2020</b>.<br>
                        I have been making Discord bots since <b>November 2020</b>.<br>
                    </p>
                </div>
                <div class="grid-item">
                    
                </div>
              </div>
        </div>
        
          
        <script src="" async defer></script>
    </body>
</html>