<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('../partials/head') %>
        <link href="/assets/css/global.css" rel="stylesheet">
        <link href="/assets/css/index.css" rel="stylesheet">
        <title>Deveroonie | Home</title>
    </head>
    <body>
        <div class="wrapper">
        <%- include('../partials/header') %>
        </div>
        <div class="container">
            <div class="centered">
                <h2 class="head_box">Deveroonie</h2>
                <br><br>
                <p class="head_para">Hello, I'm Deveroonie.<br>I am a full-stack developer from the UK.<br>I mostly use HTML, CSS and JavaScript.</p>
            <img src="/assets/img/logo.webp" width="128px" height="128px" class="logo" alt="My Logo"><br>
            <a href="https://youtube.com/@DeveroonieWasTaken"><img src="/assets/img/youtube_logo.webp" width="32px" height="32px" class="img_logo" alt="YouTube Logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/Deveroonie"><img src="/assets/img/github_logo.webp" width="32px" height="32px" class="img_logo" alt="GitHub Logo"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://discord.com/users/689173890450194434/"><img src="/assets/img/discord_logo.webp" width="32px" height="32px" class="img_logo" alt="Discord Logo"></a>
            
            </div>
          </div>
          
          
        <script src="" async defer></script>
    </body>
</html>