<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <%- include('../partials/head') %>
        <link href="/assets/css/global.css" rel="stylesheet">
        <title>Deveroonie | Privacy Policy</title>
        <!-- SEO -->
        <meta name="title" content="Deveroonie.xyz">
        <meta name="description" content="Welcome to the privacy policy of Deveroonie's website! On this website you can view information about how I process personal data..">
        <meta name="keywords" content="dev,deveroonie,dever,roonie">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Deveroonie">

    </head>
    <body>
        <div class="wrapper">
        <%- include('../partials/header') %>
        <h1>Privacy Policy for Deveroonie.xyz</h1>
        <p>At Deveroonie.xyz, we take the privacy of our visitors very seriously. This Privacy Policy outlines how we collect, use, and disclose personal information obtained from our visitors.</p><br>
        <p>Privacy Policy last updated: 1/4/23 (Saturday, 1st April 2023)</p>
        <br>
        <h2>Collection of Personal Information</h2>
        <p>When you visit our website, we may automatically collect certain information about your visit, such as your IP address, browser type, device information, and operating system. This information helps us understand how our visitors use our website and how we can improve it.</p>
            <br>
        <h2>Use of Personal Information</h2>
        <p>We may use the personal information we collect from our visitors to:<br>
        <ul>
        <li>Understand how visitors use our website.</li>
        <li>Improve the performance and functionality of our website.</li>
        <li>Analyze trends and usage patterns.</li>
        <li>Personalize your experience on our website.</li>
    </ul></p>
        <br>
        <h2>Disclosure of Personal Information</h2>
        <p>We do not sell, rent, or disclose personal information to any third party, except as required by law or with your consent. We may share personal information with service providers that help us operate our website, such as hosting providers and analytics providers. These service providers are bound by confidentiality agreements and are not authorized to use the personal information for any purpose other than to provide services to us.</p>
        <br>
        <h2>Use of Cookies</h2>
        <p>We may use cookies and similar technologies to collect information about your visit to our website. A cookie is a small text file that is placed on your device by a web server. We use cookies to identify your preferences and to personalize your experience on our website.</p>
        <br>
        <h2>Google Analytics</h2>
        <p>We use Google Analytics to collect and analyze data about the use of our website. Google Analytics collects information about your visit to our website, including your IP address, browser type, and operating system. This information is used to analyze website traffic, user behavior, and demographics. We use this information to improve our website and provide a better user experience.</p>
        <br>
        <h2>Storage of Personal Information</h2>
        <p>We store personal information obtained from our visitors indefinitely. We take reasonable measures to ensure that personal information is stored securely and protected from unauthorized access.</p>
        <br>
        <h2>Your Rights</h2>
        <p>You have the right to request access to the personal information we have collected about yo. To request access to your personal information, please contact me at me [at] deveroonie [dot] xyz. I will respond to your request within a reasonable timeframe.</p>
        <br>
        <h2>Changes to this Privacy Policy</h2>
        <p>We reserve the right to change this Privacy Policy at any time. We will post any changes to this Privacy Policy on our website, and the date at the top of this policy will reflect the last revision date. Your continued use of our website after any changes to this Privacy Policy constitutes your acceptance of the revised policy.</p>
        <br>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about this Privacy Policy, please contact me at me [at] deveroonie [dot] xyz. I will be happy to address your concerns and answer any questions you may have.</p>
          </div>
          
          
        <script src="" async defer></script>
    </body>
</html>
