    <!DOCTYPE html>
    <html lang="en-GB">
        <head>
            <%- include('../partials/head') %>
            <link href="/assets/css/global.css" rel="stylesheet">
            <link href="/assets/css/projects.css" rel="stylesheet">
            <title>Deveroonie | Home</title>
            <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        </head>
        <body>
            <div class="wrapper">
                <%- include('../partials/header') %>
                <br><br><br><br><br><br>
                <div class="grid-container">
                    <div class="grid-item">
                        <a href="https://tflunderground.deveroonie.xyz"><h3 class="projname">London Underground Status</h3></a>
                        <p class="projdesc">A website that shows the status of the London Underground network, written in vanilla JS.<br>I used an external API that can be found <a href="https://github.com/cxllm/tfl-status-api">here</a>. It can be found on GitHub <a href="https://github.com/Deveroonie/TfLUndergroundUpdates">here</a>.</p>
                        <img src="/assets/img/underground_logo.webp" height="100px"> 

                    </div>
                    <div class="grid-item">
                        <a href="https://woody.hplug.xyz"><h3 class="projname">Woody's Website</h3></a>
                        <p class="projdesc">A website that I made for my cat, in JavaScript with Express, and EJS.<br> It shows pictures, with it's own API to get images and facts!<br>It is currently closed source.</p>
                        <img src="/assets/img/woody.webp">
                    </div>
                    <div class="grid-item">
                        <a href="https://deveroonie.xyz/"><h3 class="projname">This website</h3></a>
                        <p class="projdesc">This website. I have been working on it for a while, and have rewritten it a few times. Currently, it it is written in JavaScript, with Express and EJS.</p>
                        <img src="/assets/img/logo.webp" width="100px">
                    </div>
                  </div>
            </div>
            
              
            <script src="" async defer></script>
        </body>
    </html>